<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.7.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimumscale=1">
    <link rel="shortcut icon" href="assets/images/coffee-icon-sign-symbol-designfree-png.webp" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="~/assets/web/assets/mobiriseicons2/mobirise2.css">
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons-bold/mobiriseicons-bold.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/parallax/jarallax.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="~/assets/mobirise/css/mbradditional.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css"
          type="text/css">
</head>

<body>
    <section data-bs-version="5.1" class="menu menu3 cid-tsEQosCCDP" once="menu"
             id="menu3-0">
              <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <a href="/">
                            <img src="~/assets/images/logo.webp" alt="Coffee Logo" style="height: 3rem;">
                            </a>
                        </span>
                        <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-7" href="/">The Daily Grind</a></span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                            <li class="nav-item">
                                <a class="nav-link link text-black display-4" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-black display-4" asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-black display-4" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        </ul>
                    <div class="icons-menu">
                       
                        <div class="dropdown d-inline">
                            <a class="iconfont-wrapper d-flex align-items-center user-dropdown" href="#" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                               
                                <span class="user-icon" style="display: flex; align-items: center;">
                                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2">
                                        <circle cx="12" cy="10" r="4" />
                                        <circle cx="12" cy="12" r="11" fill="none" />
                                        <path d="M6 19c2-4 10-4 12 0" />
                                    </svg>
                                </span>
                               
                                <span class="caret" style="margin-left: 8px; display: flex; align-items: center;">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="black">
                                        <polygon points="5,7 13,7 9,11" />
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                                <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="/register">Đăng ký</a></li>
                            </ul>
                        </div>
                        
                        
                        <a class="cart-icon" href="#">
                            
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#111" stroke-width="2">
                                <rect x="5" y="7" width="14" height="13" rx="2" fill="none" />
                                <path d="M7 7V5a5 5 0 0 1 10 0v2" />
                            </svg>
                            <span class="cart-count">(0)</span>
                        </a>
                    </div>



                        <div class="navbar-buttons mbr-section-btn">
                            </div>
                    </div>
                </div>
            </nav>
    </section>
    @RenderBody()
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/parallax/jarallax.js"></script>
    <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets/ytplayer/index.js"></script>
    <script src="~/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
</body>
</html> 